@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');


$purple: #320E85;
$darkPurple: #180051;
$white: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: max-content;
    font-family: 'Open Sans' , sans-serif;

    .home {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        position: relative;
        padding-inline: 50px;

        .home-content {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 30px;

            .home-content-header {
                font-weight: 200;
                font-size: 40px;
            }

            img {
                width: 50px;
                animation: downArrowAnimation 1s ease-in-out infinite;
                transition: scale 500ms ease-in-out;
                cursor: pointer;

                &:hover {
                    scale: 1.3;
                }
            }

            &::before {
                content: '';
                width: 100%;
                height: 100vh;
                position: absolute;
                z-index: -1;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.196);
            }

            @keyframes downArrowAnimation {
                0% {
                    translate: 0 0;
                }

                50% {
                    translate: 0 30px;
                }
            }
        }

        .home-slider-container {
            height: 100vh;
            width: 100%;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            transition: transform 1s ease-in-out;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    main {
        .nav {
            width: 100%;
            position: sticky;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
            padding-inline: 60px;
            background-color: white;
            z-index: 10;

            .logo {
                width: 50px;

                img {
                    width: 50px;
                }
            }

            .links {
                display: flex;
                align-items: center;
                flex-direction: column;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100vh;
                background-color: #320E85;
                color: white;
                padding-top: 100px;
                gap: 30px;
                font-weight: 700;
                font-size: 1.2rem;
                font-family: Calibri;
                transition: clip-path 500ms ease-in-out;
                clip-path: circle(0 at right top);
                padding-inline: 30px;

                li {
                    width: 100%;
                    text-align: center;
                    cursor: pointer;
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }

                .free-qoute {
                    padding-block: 15px;
                    background-color: white;
                    border-radius: 5px;

                    a {
                        color: #320E85;
                    }
                }
            }

            .burger {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 30px;
                height: 30px;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: black;
                    transition: all 500ms ease-in-out;
                }
            }
        }

        .nav.show {
            .links {
                clip-path: circle(200vh at right top);
            }

            .burger {
                position: fixed;
                right: 60px;
                top: 40px;
                z-index: 10;

                span {
                    background-color: white;
                }

                span:nth-child(2) {
                    translate: 50px 0;
                    opacity: 0;
                }

                span:nth-child(1) {
                    rotate: -45deg;
                    transform-origin: right;
                }

                span:nth-child(3) {
                    rotate: 45deg;
                    transform-origin: right;
                }
            }
        }

        .about {
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;
            padding-inline: 30px;
            gap: 50px;
            text-align: center;
            padding-top: 100px;
            padding-bottom: 200px;

            .about-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .about-content-header {
                    color: $darkPurple;
                    font-size: 30px;
                    font-weight: 900;
                }

                .about-content-body {
                    color: $purple;
                    line-height: 25px;
                    font-size: 18px;

                }

                .about-content-button {
                    background-color: $darkPurple;
                    color: white;
                    border-radius: 2px;
                    width: max-content;
                    padding: 10px 30px;
                    opacity: 0;

                    &.animated__bounceIn {
                        opacity: 1;
                    }

                    a {
                        color: white;
                    }
                }
            }

            .about-images {
                width: 100%;
                position: relative;

                img {
                    opacity: 0;
                    animation-duration: 2s;
                }

                img.animate__zoomIn {
                    opacity: 1;
                }

                img.animate__bounceInRight {
                    opacity: 1;
                }

                .about-image-small {
                    width: 50%;
                    top: 20%;
                    position: absolute;
                    z-index: -2;
                    left: 0;
                    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.556);
                }

                .about-image-big {
                    float: right;
                    width: 80%;
                    position: relative;
                    z-index: -3;
                }
            }
        }
        .gallery-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .gallery{
                width: 100%;
                display: flex;
                flex-flow: wrap;
                align-items: center;
                justify-content: center;
                height: max-content;
                 gap: 1px;
                img{
                    height: 200px;
                    width: 200px;
                    min-width: 200px;
                    max-width: 300px;
                    object-fit: cover;
                    cursor: pointer;
                    transition: scale 500ms ease-in-out;
                    &:hover{
                        scale: 1.1;
                        z-index: 2;
                    }
                }
                img{
                    opacity: 0;
                }
                img.animate__fadeInUp{
                    opacity: 1;
                }
            }
        }

        .process {
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-inline: 30px;
            padding-bottom: 150px;

            .our {
                font-size: 40px;
                padding-block: 30px;
                color: #320E85;
                font-weight: 700;
            }

            .cards {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 30px;
                color: #320E85;

                .card {
                    animation-duration: 1.5s;
                    opacity: 0;
                    animation-delay: 0;
                }

                .card.animate__bounceInRight {

                    opacity: 1;
                }

                .card {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border: 2px solid rebeccapurple;

                    .card-title {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        padding-inline: 40px;

                        span {
                            font-size: 80px;
                            font-weight: 700;
                        }

                        font-size: 26px;
                        font-weight: 600;
                    }

                    .card-body {
                        font-size: 17px;
                        font-weight: 600;
                        padding-inline: 40px;
                        padding-bottom: 20px;
                    }

                    .card-image {
                        height: 200px;
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            margin: 30px;
            padding: 10px;
            gap: 50px;

            .form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                border: 1px solid black;

                h1 {
                    text-align: center;
                    background-color: $purple;
                    color: white;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 80px;
                    padding-inline: 20px;
                    z-index: -10;
                    clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 0);
                }

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input {
                        border: 1px solid black;
                        padding: 10px;
                        width: auto;
                        margin-inline: 10px;
                    }

                    textarea {
                        border: 1px solid black;
                        padding: 10px;
                        height: 100px;
                        width: auto;
                        resize: none;
                        margin-inline: 10px;
                    }

                    .form-btn {
                        width: auto;
                        background-color: $purple;
                        color: white;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        font-weight: 700;
                        font-size: 30px;
                        padding: 10px;
                        margin: 0 10px 20px 10px;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }
            }

            .contactInfo {
                width: 100%;
                display: flex;
                gap: 30px;
                flex-direction: column;

                div {
                    display: grid;
                    gap: 10px;
                }

                .phone {
                    p {
                        font-size: 30px;
                        font-weight: 800;
                    }

                    .number {
                        color: $purple;
                    }
                }

                .follow {
                    font-size: 30px;
                    font-weight: 800;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .social-icons {
                        display: flex;
                        gap: 30px;

                        svg {
                            width: 35px;
                            path{
                                transition: fill 300ms ease-in-out;
                            }
                            &:hover{
                                path{
                                    fill: rgb(15, 139, 131);
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    footer {
        width: 100%;
        height: max-content;
        background-color: #252525;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 50px;
        gap: 50px;

        .logo {
            width: 100px;

            img {
                width: 100%;
            }
        }

        .links {
            display: flex;
            gap: 10px;
            flex-direction: column;
            text-align: center;

            a {
                text-decoration: none;
                color: white;
            }
        }

        .social-icons {
            display: flex;
            align-items: center;
            gap: 20px;

            svg {
                width: 30px;
            }
        }
    }
}


@media screen and (min-width: 900px) {
    .container {
        .home {
            .home-slider-container {
                img {
                    height: 115vh;

                }
            }
        }

        main {
            .nav {
                padding-inline: 100px;

                .logo {
                    width: 80px;

                    img {
                        width: 100%;
                    }
                }

                .links {
                    position: static;
                    height: max-content;
                    width: max-content;
                    padding-top: 0;
                    clip-path: none;
                    color: transparent;
                    flex-direction: row;
                    gap: 70px;
                    background-color: transparent;
                    .active{
                        border-bottom: 4px solid rgb(15, 139, 131);
                        a{
                            color: rgb(15, 139, 131);

                        }
                    }
                    li {
                        a {
                            font-size: 30px;
                            color: $darkPurple;
                            transition: .3s;
                        }
                        &:hover{
                            a{
                                opacity: 0.9;
                                color: rgb(15, 139, 131);
                            }
                            border-bottom-color: rgb(15, 139, 131);
                        }

                    }

                    .free-qoute {
                        display: none;
                    }
                }

                .burger {
                    display: none;
                }
            }

            .about {
                flex-direction: row;
                text-align: start;
                padding-inline: 100px;
                padding-top: 150px;

                .about-content {
                    width: 100%;
                    align-items: flex-start;
                    gap: 30px;

                    .about-content-header {
                        font-size: 40px;
                    }

                    .about-content-body {
                        font-size: 24px;
                        line-height: 30px;
                    }

                    .about-content-button {
                        padding: 15px 70px;
                        font-size: 20px;
                        transition: all 400ms ease-in-out;
                        cursor: pointer;

                        a {
                            color: white;
                        }

                        &:hover {
                            background-color: white;
                            border: 2px solid $purple;

                            a {
                                color: $darkPurple;
                            }
                        }
                    }
                }

                .about-images {
                    width: 100%;
                    flex-grow: 1;

                    .about-image-small {
                        top: 50%;
                    }
                }
            }

            .process {
                padding-inline: 100px;
                padding-top: 150px;

                .cards {
                    flex-direction: row;

                    .card {
                        &:nth-child(1) {
                            animation-delay: 0;
                        }

                        &:nth-child(2) {
                            animation-delay: 0.5s;
                        }

                        &:nth-child(3) {
                            animation-delay: 1s;
                        }
                    }
                }
            }

            .contact {
                flex-direction: row;
                justify-content: space-between;
                padding: 0;
                align-items: center;
                padding-inline: 100px;
                padding-block: 150px;
                gap: 150px;

                .form {
                    width: 50%;

                    form {
                        .form-btn {
                            transition: .2s;

                            &:hover {
                                background-color: white;
                                border: 2px solid $purple;
                                color: $purple;
                            }
                        }
                    }
                }

                .contactInfo {
                    width: 50%;
                    justify-content: center;
                    display: flex;
                    align-items: flex-start;
                    .follow{
                        .social-icons{
                            a{
                                svg:hover{
                                    color: rgb(15, 139, 131);
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            flex-direction: row;
            justify-content: space-between;
            padding-inline: 130px;
        }

    }
}